* {
    box-sizing: border-box;
}

html{
    background-color:#DD5671;
    font-family: 'Quantico', monospace;
    background-image: 
    linear-gradient(#E5ACBA 1px, transparent 0),
    linear-gradient(90deg, #E5ACBA  1px, transparent 0);
    background-size: 30px 30px, 30px 30px;
    background-attachment: fixed;
    overflow: hidden;
}


img{
    max-width: 100%;
}

/*Typography*/
a{
    color: #FFFFFF;
}

h2{
    font-size: 2vw;
}

p{
    font-size: 1.5vw;
}


/*Structure*/
  section {
    padding: 3%;
    /*height: 100vh;*/
    width: 100vw;
  }
  
  /*section:first-of-type {
    background: #ffc600;
  }*/

.title{
    width: 90%;
    position:absolute;
    z-index: 1;
}

.titleImg{
    width:50vw;
    margin-bottom: 1vw;
}


.container{
    margin-top: 9vw;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
    background-color: black;
    display: flex;

}


.left {   
    width: 25vw;
    margin-top: 5vw;
    margin-bottom: 10.5vw;
    margin-left: 2.5vw;
}

.center {   
    width: 20vw;
    margin-top: 15vw;
    margin-left: 2vw;
}

.right {   
    width: 35vw;
    margin-top: 5vw;
    margin-left: 2vw;

}
.rightImg{
    position:absolute;
    width: 35vw;

}
.rightWord{
    width: 30vw;
    margin-top: 8vw;
    margin-left: 2vw;
    color:white;
    position:absolute;
    z-index:1;
    word-break: break-word;
    
}


#start{
    margin: 0 auto;
    width:18vw;
    margin-top: 1vw;
    margin-bottom: 4vw;
}


  
 /* section:nth-of-type(2) {
    background: red;
  }*/

  /*------quizPage--------*/

.quizContainer{
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
    width: 90%;
    display: flex;

}
.quizLeft.rect {   
    margin-left: 7vw;
    width: 36vw;
    height: 48vw;

}

.quizRight {
    width: 38vw;
    height: 45vw;
    background-color: black;

}
.questionImg{
    position:absolute;
    width: 34vw;
    margin-left: 3vw;

}

.question{
    width: 28vw;
    margin-top: 5vw;
    margin-left: 5vw;
    color:white;
    position:absolute;
    z-index:1;
    word-break:break-word;
    

}

.ansA.rect{
    position:absolute;
    width: 32vw;
    height: 10vw;
    margin-top: 23vw;
    margin-left: 3vw;
    z-index: 1;
}
.ansB.rect{
  position:absolute;
  width: 32vw;
  height: 10vw;
  margin-top: 32vw;
  margin-left: 3vw;
  z-index: 1;
}

.ansImgCorrect{
  position:absolute;
  width: 35vw;
}

.ansImgWrong{
  position:absolute;
  width: 35vw;
}

.ansWord{
    margin-left: 2vw;
    color:black;
    position:absolute;
    z-index:1;
    word-break:break-word;
    
    margin-top:1vw
}
.next{
  position:absolute;
  z-index:1;
  width:15vw;
  margin-top: 41vw;
  margin-left:11vw;

}


#result{
    position:absolute;
    z-index:1;
    width:25vw;
    margin-top: 41vw;
    margin-left:7vw;

}

#section-7{
  display:none;
}

#homeWin{
  margin: 0 auto;
  width:12vw;
  margin-top:0vw;

}
#homeLose{
  margin: 0 auto;
  width:12vw;
  margin-top:0vw;

}


.endTitle{
  width:50vw;
  position:absolute;
  z-index: 1;
  margin-top: 1vw;
}

.endContainer{
  margin-top: 3.5vw;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: auto;
  background-color: black;
  display: flex;

}
.endLeft {   
  width: 40vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
  margin-left: 5vw;
}

.endRight {   
  
  margin-top: 5vw;

}

.endWord{
  font-size:1.25vw;
  width: 30vw;
  margin-top: 8vw;
  margin-left: 2vw;
  color:white;
  position:absolute;
  z-index:1;
  white-space: nowrap;
  
}

/*winpage
.congrat{
  position:absolute;
  margin-left: 4vw;
  margin-top:2vw;
  z-index: 1;
}
.winLeft {  
    margin-top: 7vw;
    margin-bottom: 4vw;
    margin-left: 8vw;
    margin-right:3vw;
}    

#home{
      margin: 0 auto;
      width:18vw;
      margin-top: 1vw;
      margin-bottom: 4vw;
  }
  


/*---------------------------*/
/*  
  section:nth-of-type(3) {
    background: blue;
  }
  
  section:nth-of-type(4) {
    background: green;
  }
*/  
  nav {
    position: fixed;
    right: 5%;
    top: 30%;
    z-index: 2;
    /*display:none;*/
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    height: 10px;
    width: 10px;
    /* hide text  */
    text-indent: -9999px;
  }
  
  nav a.current {
    background: grey;
  }
  /*
  .rect {
    background: black;
    height: 20vh;
    width: 500px;
  }*/
  
  .align-left {
    float: left;
    margin-right: 20px;
  }
  
  .align-right {
    float: right;
    margin-top: 10vh;
    margin-left: 20px;
  }
  
  .slide-in {
    opacity: 0;
    transition: all .5s;
  }
  
  .align-left.slide-in {
    transform: translateX(-50%) scale(0.95);
  }
  
  .align-right.slide-in {
    transform: translateX(50%) scale(0.95);
  }
  
  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
